# ─────────────────────────────────────────
#  ROOT .gitignore
#  DevOpsProject-UserStory
# ─────────────────────────────────────────

# ── Docker ────────────────────────────────
.env
.env.local
.env.*.local
docker-compose.override.yml

# ── OS ────────────────────────────────────
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db
desktop.ini

# ── Editors ───────────────────────────────
.idea/
.vscode/
*.swp
*.swo
*~
.project
.classpath
.settings/

# ── Logs ──────────────────────────────────
*.log
logs/